{% extends "app_pets/base.html" %}
{% load static %}
{% block title %}header{% endblock title %}

{% block content %}
<header>
    <nav class="navbar">
        <a href="/" class="brand">
            <img src="{% static 'app_pets/img/logo_tratada_fundo_escuro.svg' %}" alt="Logo" class="logo">
            <span class="logo-text">FindMyPet</span>
        </a>
        <ul class="nav-links">
            <li><a href="/">Início</a></li>
            <li><a href="#">Sobre</a></li>
        </ul>
        <button class="login-btn">Entrar</button>
    </nav>
</header>
{% endblock content %}